doctype html
html(lang="en")

	head
		meta(charset="utf-8")
		title Word Chain Solver
		//- Bootstrap
		link(
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
		)

	body
		#wordChain.container

			.page-header: h1 Word Chain Solver

			//- Word chain creator
			.row

				.col-lg-6: .panel.panel-primary
					.panel-heading Create Word Chain
					.panel-body(style="max-height: 40vh; overflow-y: auto;")

						//- Let clients with JS disabled get results
						form#chainForm(
							action="wordchain"
							method="get"
							target="_blank"
						)
							.form-group
								label(for="startWord") Start
								.input-group
									input#startWord.form-control(
										name="start"
										type="text"
										placeholder="Start"
										data-bind="textInput: fromWord"
									)
									//- TODO Make feedback clearer
									span.input-group-addon(
										data-bind="css: fromClass"
									) &nbsp;

							.form-group
								label(for="endWord") End
								.input-group
									input#endWord.form-control(
										name="end"
										type="text"
										placeholder="End"
										data-bind="textInput: toWord"
									)
									span.input-group-addon(
										data-bind="css: toClass"
									) &nbsp;
							button.btn.btn-primary(type="submit") Solve

				.col-lg-6: .panel.panel-success
					.panel-heading Word Chain
					.panel-body(
						data-bind="if: wordChain().length"
						style="max-height: 40vh; overflow-y: auto;"
					)

						//- Word chain results
						ul.list-group(data-bind="foreach: wordChain")
							li.list-group-item
								span(data-bind="text: $data")

		//- JQuery
		script(src="https://code.jquery.com/jquery-1.11.3.min.js")
		//- Knockout.js
		script(src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js")
		//- Word Chain client
		script(src="js/wordChain.js")
