doctype html
html(lang="en")

	head
		meta(charset="utf-8")
		title Word Chain Solver
		link(
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		)

	body
		#wordChain.container

			.page-header: h1 Word Chain Solver

			.row

				//- Word chain request builder
				.col-lg-6: .panel.panel-primary
					.panel-heading Create Word Chain
					.panel-body(style="max-height: 40vh; overflow-y: auto;")

						form#chainForm(
							action="wordchain"
							method="get"
							target="_blank"
							v-on:submit.prevent="submit"
						)
							p.help-block Word chain solver is case-sensitive and limited to words of equal length
							valid-word(
								name="start"
								label="Start"
								v-on:validated="setStartValid"
							)
							valid-word(
								name="end"
								label="End"
								v-on:validated="setEndValid"
							)
							button.btn.btn-primary(
								type="submit"
								v-bind:disabled="!wordsValid"
							) Solve

				//- Word chain results display
				.col-lg-6: .panel.panel-success
					.panel-heading Word Chain
					.panel-body(style="max-height: 40vh; overflow-y: auto;")

						ul.list-group
							li.list-group-item(
								style="text-align: center;"
								v-for="word in wordChain"
							)
								span {{ word }}

		//- Word validation component template
		script#word-validator(type="text/x-template")
			.form-group.has-feedback(v-bind:class="feedbackState")
				label.control-label(
					v-bind:for="id"
				) {{ label }}
				input.form-control(
					v-bind:id="id"
					v-bind:name="name"
					type="text"
					v-bind:placeholder="label"
					v-model="word"
					v-on:input="onInput"
				)
				span.glyphicon.form-control-feedback(
					v-bind:class="feedbackIcon"
				)

		script(src="https://unpkg.com/vue@2.0.1/dist/vue.min.js")
		script(src="/js/wordChain.js")
