doctype html
html(lang="en")

	head
		meta(charset="utf-8")
		title Word Chain Solver
		link(
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		)

	body
		#wordChain.container

			.page-header: h1 Word Chain Solver

			.row

				//- Word chain request builder
				.col-lg-6: .panel.panel-primary
					.panel-heading Create Word Chain
					.panel-body(style="max-height: 40vh; overflow-y: auto;")

						form#chainForm(
							action="wordchain"
							method="get"
							target="_blank"
							@submit.prevent="submit"
						)
							p.help-block Word chain solver is case-sensitive and limited to words of equal length
							valid-word(
								name="start"
								label="Start"
								@validated="setStartValid"
							)
							valid-word(
								name="end"
								label="End"
								@validated="setEndValid"
							)
							button.btn.btn-primary(
								type="submit"
								:disabled="!wordsValid"
							) Solve

				//- Word chain results display
				.col-lg-6: .panel.panel-success
					.panel-heading Word Chain
					.panel-body(style="max-height: 40vh; overflow-y: auto;")

						ul.list-group
							li.list-group-item(
								style="text-align: center;"
								v-for="word in wordChain"
							)
								span {{ word }}

		//- Word validation component template
		script#word-validator(type="text/x-template")
			.form-group.has-feedback(:class=`
				{
					'has-success': validated && valid,
					'has-error': validated && !valid
				}
			`)
				label.control-label(
					:for="id"
				) {{ label }}
				input.form-control(
					:id="id"
					:name="name"
					type="text"
					:placeholder="label"
					v-model="word"
					@input="onInput"
				)
				span.glyphicon.form-control-feedback(:class=`
					{
						'glyphicon-ok': validated && valid,
						'glyphicon-remove': validated && !valid
					}
				`)

		script(src="https://unpkg.com/vue@2.1.8/dist/vue.min.js")
		script(src="/js/wordChain.js")
