doctype html
html(lang="en")

	head
		meta(charset="utf-8")
		title Word Chain Solver
		link(
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
		)

	body
		#wordChain.container

			//- Word validation component template
			template#word-validator
				.form-group.has-feedback(v-bind:class="feedbackState")
					label.control-label(
						v-bind:for="id"
					) {{ label }}
					input.form-control(
						v-bind:id="id"
						v-bind:name="name"
						type="text"
						v-bind:placeholder="label"
						v-model="word"
						debounce="500"
					)
					span.glyphicon.form-control-feedback(
						v-bind:class="feedbackIcon"
					)

			.page-header: h1 Word Chain Solver

			.row

				//- Word chain request builder
				.col-lg-6: .panel.panel-primary
					.panel-heading Create Word Chain
					.panel-body(style="max-height: 40vh; overflow-y: auto;")

						form#chainForm(
							action="wordchain"
							method="get"
							target="_blank"
						)
							p.help-block Word chain solver is case-insensitive and limited to words of equal length
							valid-word(
								id="form-start"
								name="start"
								label="Start"
								v-bind:word.sync="fromWord"
							)
							valid-word(
								id="form-end"
								name="end"
								label="End"
								v-bind:word.sync="toWord"
							)
							button.btn.btn-primary(
								type="submit"
								v-bind:disabled="!validInputs"
							) Solve

				//- Word chain results display
				.col-lg-6: .panel.panel-success
					.panel-heading Word Chain
					.panel-body(style="max-height: 40vh; overflow-y: auto;")

						.progress(v-show="loading")
							.progress-bar.progress-bar-striped.active(
								style="width: 100%;"
							)
						ul.list-group
							li.list-group-item(
								style="text-align: center;"
								v-for="word in wordChain"
							)
								span {{ word }}

		script(src="https://code.jquery.com/jquery-2.2.1.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.min.js")
		script(src="/js/wordChain.js")
