doctype html
html(lang="en")

	head
		meta(charset="utf-8")
		title Word Chain Solver
		//- Bootstrap
		link(
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
		)

	body
		#wordChain.container

			.page-header: h1 Word Chain Solver

			//- Word chain creator
			.row

				.col-lg-6: .panel.panel-primary
					.panel-heading Create Word Chain
					.panel-body(style="max-height: 40vh; overflow-y: auto;")


						//- Let clients with JS disabled get results
						form#chainForm(
							action="wordchain"
							method="get"
							target="_blank"
						)
							p.help-block Word chain solver is case-insensitive and limited to words of equal length

							.form-group.has-feedback(data-bind="css: fromFeedback")
								label.control-label(for="startWord") Start
								input#startWord.form-control(
									name="start"
									type="text"
									placeholder="Start"
									data-bind="textInput: fromWord"
								)
								span.glyphicon.form-control-feedback(
									data-bind="css: fromClass"
								)

							.form-group.has-feedback(data-bind="css: toFeedback")
								label.control-label(for="endWord") End
								input#startWord.form-control(
									name="end"
									type="text"
									placeholder="End"
									data-bind="textInput: toWord"
								)
								span.glyphicon.form-control-feedback(
									data-bind="css: toClass"
								)

							button.btn.btn-primary(
								type="submit"
								data-bind="enable: validInputs"
							) Solve

				.col-lg-6: .panel.panel-success
					.panel-heading Word Chain
					.panel-body(style="max-height: 40vh; overflow-y: auto;")

						//- "Loading" indicator
						.progress(data-bind="visible: loading")
							.progress-bar.progress-bar-striped.active(
								style="width: 100%;"
							)

						//- Word chain results
						ul.list-group(data-bind="foreach: wordChain")
							li.list-group-item(
								style="text-align: center;"
							)
								span(
									data-bind="text: $data"
								)

		//- JQuery
		script(src="https://code.jquery.com/jquery-1.11.3.min.js")
		//- Knockout.js
		script(src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js")
		//- Word Chain client
		script(src="js/wordChain.js")
